# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=chessdb

# JWT
JWT_SECRET=

# Server
SERVER_PORT=8080

# Game
DEFAULT_BASE_TIME=10m
DEFAULT_INCREMENT=5s
RECONNECT_TIMEOUT=30s

# Rate limiting
RATE_GENERAL=10
RATE_AUTH=3
RATE_WS=1

#Environment
ENV=development